@import 'header.css';
@import url(guoqing.less);

.main {
    /* background: red; */
    background: url('./assets/ship.jpg');
    background-size: contain;
}

p {
    background: yellow;
    color: blue;
    transform: translate(-50%, -50%);
}